<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>961394744107-dekpctkl2vrpk2kcefrcif43l7k7fi27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.961394744107-dekpctkl2vrpk2kcefrcif43l7k7fi27</string>
	<key>API_KEY</key>
	<string>AIzaSyDT67JGagmQM_YV9GL5HzL9je_9dQqiteE</string>
	<key>GCM_SENDER_ID</key>
	<string>961394744107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.toDo</string>
	<key>PROJECT_ID</key>
	<string>todoflutter-d7bbf</string>
	<key>STORAGE_BUCKET</key>
	<string>todoflutter-d7bbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961394744107:ios:96d63b310f88d672cdc36e</string>
</dict>
</plist>